In [1]:
import pandas as pd

In [2]:
df=pd.read_csv(r"C:\Users\sachi\OneDrive\Product Demand Forecasting\7_Feature Selection\Featured_data.csv")

In [3]:
product_ids = df['productid']

In [4]:
X = df.drop('productid', axis=1,inplace=True)

In [5]:
df.sample(5)

,location,unitssold,promocodeused,price,discount_percent,adcampaign,isweekend,season,daytype,temp(c),...,launchyear,stocklevel,supplierdelay(days),warehouse,inventorytype,price_diff,month,dayofweek,week,year
300309,L03,10,No,235.03,15.0,Online,No,Autumn,Weekday,30.5,...,2023,25,7,W1,Returned,7.950,11,0,48,2024
14021,L09,10,No,300.50,0.0,unknown,Yes,Spring,Weekend,16.5,...,2020,67,3,W2,Returned,-15.025,3,6,11,2024
104349,L03,7,Yes,300.50,0.0,unknown,No,Autumn,Weekday,26.7,...,2020,134,3,W1,Fresh,-15.025,10,0,44,2024
453297,L07,9,Yes,300.50,0.0,unknown,No,Autumn,Weekday,30.4,...,2019,51,10,W1,Returned,-15.025,10,3,43,2024
419510,L07,3,No,300.50,0.0,unknown,No,Autumn,Weekday,39.1,...,2023,71,2,W3,Returned,-15.025,10,1,43,2024

In [6]:
from sklearn.preprocessing import OneHotEncoder

In [7]:
# Step 1: Select the location column
location_col = df[['location']]  # Important: Use double brackets to keep it as DataFrame

In [8]:
encoder=OneHotEncoder(drop='first',sparse_output=False)

In [9]:
location_encoded=encoder.fit_transform(location_col)

In [10]:
location_encoded_df = pd.DataFrame(
    location_encoded,
    columns=encoder.get_feature_names_out(['location']),
    index=df.index  # keep same index for merging
)

In [11]:
# Step 5: Concatenate with original dataframe
df = pd.concat([df.drop('location', axis=1), location_encoded_df], axis=1)

In [12]:
df.sample(5)

,unitssold,promocodeused,price,discount_percent,adcampaign,isweekend,season,daytype,temp(c),rainfall(mm),...,year,location_L02,location_L03,location_L04,location_L05,location_L06,location_L07,location_L08,location_L09,location_L10
25892,4,No,300.5,0.0,unknown,No,Autumn,Weekday,23.6,21.6,...,2024,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
402881,10,No,300.5,0.0,unknown,No,Winter,Weekday,16.1,1.3,...,2024,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
426929,8,Yes,300.5,0.0,unknown,No,Autumn,Weekday,22.2,5.4,...,2024,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
507427,6,Yes,300.5,0.0,unknown,No,Summer,Weekday,32.4,10.4,...,2024,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
4397,10,No,492.8,5.0,Tv,No,Summer,Weekday,34.1,17.4,...,2024,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0

In [13]:
# Step 4: Get encoded column names
location_columns = location_encoded_df.columns.tolist()

# Step 5: Reorder columns — location columns first
df = df[location_columns + [col for col in df.columns if col not in location_columns]]

In [14]:
df.head()

,location_L02,location_L03,location_L04,location_L05,location_L06,location_L07,location_L08,location_L09,location_L10,unitssold,...,launchyear,stocklevel,supplierdelay(days),warehouse,inventorytype,price_diff,month,dayofweek,week,year
0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,8,...,2020,61,3,W2,Fresh,-37.780,4,4,15,2024
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2,...,2020,31,2,W3,Returned,-15.025,12,5,50,2024
2,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,7,...,2022,116,3,W1,Returned,-15.025,9,4,39,2024
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,8,...,2022,168,3,W3,Repaired,-15.025,4,1,16,2024
4,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,3,...,2020,68,7,W3,Repaired,-15.025,3,1,11,2024

In [15]:
df.isnull().sum()

location_L02           0
location_L03           0
location_L04           0
location_L05           0
location_L06           0
location_L07           0
location_L08           0
location_L09           0
location_L10           0
unitssold              0
promocodeused          0
price                  0
discount_percent       0
adcampaign             0
isweekend              0
season                 0
daytype                0
temp(c)                0
rainfall(mm)           0
category               0
brand                  0
material               0
weight(kg)             0
warranty(years)        0
productrating          0
launchyear             0
stocklevel             0
supplierdelay(days)    0
warehouse              0
inventorytype          0
price_diff             0
month                  0
dayofweek              0
week                   0
year                   0
dtype: int64

In [16]:
df[['promocodeused','isweekend']].sample(5)

       promocodeused isweekend
341316            No       Yes
237825           Yes       Yes
337446           Yes        No
439918           Yes       Yes
146454           Yes        No

In [17]:
# Normalize string values first
df['isweekend'] = df['isweekend'].astype(str).str.lower().str.strip()

In [18]:
df['isweekend'] = df['isweekend'].map({'yes': 1, 'no': 0})

In [19]:
print(df['isweekend'].isnull().sum())

0

In [20]:
df[['promocodeused']].sample(10)

       promocodeused
281285           Yes
27973            Yes
164573           Yes
218777            No
63067            Yes
507102           Yes
236618            No
279626           Yes
122626            No
481510            No

In [21]:
df['promocodeused'] = df['promocodeused'].astype(str).str.lower().str.strip()

In [22]:
df['promocodeused'] = df['promocodeused'].map({'yes': 1, 'no': 0})

In [23]:
print("Nulls in promocodeused:", df['promocodeused'].isnull().sum())

Nulls in promocodeused: 0

In [24]:
df[['promocodeused','isweekend']].head()

   promocodeused  isweekend
0              0          0
1              1          1
2              0          0
3              0          0
4              1          0

In [25]:
import numpy as np

In [26]:
df['adcampaign'] = df['adcampaign'].astype(str).str.lower().str.strip()

In [27]:
df['adcampaign'] = df['adcampaign'].replace(['unknown', 'unk', 'none', 'nan', ''], np.nan)

In [28]:
df['adcampaign'].isnull().sum()

np.int64(377041)

In [29]:
df['adcampaign'][df['adcampaign'].isnull()] = df['adcampaign'].dropna().sample(df['adcampaign'].isnull().sum(),replace=True).values

C:\Users\sachi\AppData\Local\Temp\ipykernel_19280\731429816.py:1: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  df['adcampaign'][df['adcampaign'].isnull()] = df['adcampaign'].dropna().sample(df['adcampaign'].isnull().sum(),replace=True).values
C:\Users\sachi\AppData\Local\Temp\ipykernel_19280\731429816.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['adcampaign'][df['adcampaign'].isnull()] = df['adcampaign'].dropna().sample(df['adcampaign'].isnull().sum(),replace=True).values

In [30]:
df['adcampaign'].isnull().sum()

np.int64(0)

# Applying OneHotEncoding in AdCamapign

In [31]:

# Step 1: Extract the column
ad_col = df[['adcampaign']]  # double brackets for DataFrame

In [32]:

# Step 2: Initialize encoder
encoder = OneHotEncoder(drop='first', sparse_output=False)  # drop='first' to avoid dummy trap

In [33]:

# Step 3: Fit and transform
ad_encoded = encoder.fit_transform(ad_col)

In [34]:

# Step 4: Create DataFrame from encoded array
ad_encoded_df = pd.DataFrame(
    ad_encoded,
    columns=encoder.get_feature_names_out(['adcampaign']),
    index=df.index  # keep index same to merge back
)

In [35]:
# Step 5: Concatenate with original df (drop old 'adcampaign' column)
df = pd.concat([df.drop('adcampaign', axis=1), ad_encoded_df], axis=1)

In [37]:
df.sample(10)

,location_L02,location_L03,location_L04,location_L05,location_L06,location_L07,location_L08,location_L09,location_L10,unitssold,...,stocklevel,supplierdelay(days),warehouse,inventorytype,price_diff,month,dayofweek,week,year,adcampaign_tv
155692,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1,...,140,2,W2,Fresh,-15.025,2,6,5,2024,1.0
435593,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,2,...,39,5,W2,Repaired,-15.025,1,3,4,2024,0.0
362126,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,8,...,34,7,W3,Returned,-15.025,4,4,15,2024,0.0
190843,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,3,...,132,7,W1,Repaired,-15.025,12,1,50,2024,0.0
479086,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,2,...,108,3,W1,Fresh,-30.420,9,0,39,2024,1.0
300360,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,10,...,147,3,W2,Repaired,-15.025,8,4,34,2024,1.0
477857,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,6,...,114,7,W3,Fresh,-15.025,4,0,17,2024,1.0
351584,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,...,155,7,W3,Fresh,-15.025,11,1,47,2024,0.0
245553,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0,...,118,2,W3,Repaired,-15.025,10,6,42,2024,0.0
233092,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,3,...,170,2,W1,Fresh,-15.025,3,0,12,2024,0.0

In [38]:
from sklearn.compose import ColumnTransformer

# Applying OneHotEncoding in these columns because its nominal

In [40]:
nominal_cols = ['category', 'brand', 'material', 'warehouse', 'inventorytype']

In [41]:
column_transformer = ColumnTransformer(
    transformers=[
        ('ohe', OneHotEncoder(drop='first', sparse_output=False), nominal_cols)
    ],
    remainder='passthrough'  # keep other columns unchanged
)

# Fit and transform
df_encoded = column_transformer.fit_transform(df)

# Get new feature names
ohe_feature_names = column_transformer.named_transformers_['ohe'].get_feature_names_out(nominal_cols)

In [42]:
df.sample(5)

,location_L02,location_L03,location_L04,location_L05,location_L06,location_L07,location_L08,location_L09,location_L10,unitssold,...,stocklevel,supplierdelay(days),warehouse,inventorytype,price_diff,month,dayofweek,week,year,adcampaign_tv
267871,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,4,...,195,5,W2,Returned,-15.025,7,6,27,2024,0.0
348132,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,8,...,149,7,W3,Repaired,-48.900,12,0,1,2024,1.0
13019,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,6,...,39,5,W1,Repaired,-15.025,11,2,46,2024,1.0
339581,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,8,...,134,2,W2,Fresh,-15.025,2,1,8,2024,1.0
466816,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,9,...,196,10,W2,Repaired,-15.025,3,6,11,2024,0.0

In [43]:
import numpy as np
df = pd.DataFrame(df_encoded, columns=np.append(ohe_feature_names, [col for col in df.columns if col not in nominal_cols]))

# Applying Binary Map Encoding in Season

In [45]:
df['season'] = df['season'].astype(str).str.lower().str.strip()

In [46]:
season_order = {'spring': 0, 'summer': 1, 'autumn': 2, 'winter': 3}

In [48]:
df['season'] = df['season'].map(season_order)

In [49]:
df['season'].head(5)

0    0
1    3
2    2
3    0
4    0
Name: season, dtype: int64

# Applying Binary Map Encoding in DayType

In [50]:
df['daytype'] = df['daytype'].astype(str).str.lower().str.strip()

In [51]:
df['daytype'] = df['daytype'].map({'weekday': 0, 'weekend': 1})

In [52]:
df['daytype'].head()

0    0.0
1    1.0
2    0.0
3    0.0
4    0.0
Name: daytype, dtype: float64

In [54]:
df.to_csv("Encoded_data.csv",index=False)