In [1]:
import pandas as pd

In [2]:
df=pd.read_csv(r"C:\Users\sachi\OneDrive\Product Demand Forecasting\7_Feature Selection\Featured_data.csv")

In [3]:
product_ids = df['productid']

In [4]:
X = df.drop('productid', axis=1,inplace=True)

In [5]:
df.sample(5)

,location,unitssold,promocodeused,price,discount_percent,adcampaign,isweekend,season,daytype,temp(c),...,launchyear,stocklevel,supplierdelay(days),warehouse,inventorytype,price_diff,month,dayofweek,week,year
273035,L04,9,No,195.22,20.0,Tv,No,Autumn,Weekday,35.6,...,2018,175,7,W1,Returned,-32.850,10,0,41,2024
330291,L04,2,No,300.50,0.0,unknown,No,Spring,Weekday,27.0,...,2019,121,2,W2,Repaired,-15.025,4,1,14,2024
493595,L07,9,No,300.50,0.0,unknown,Yes,Winter,Weekend,12.0,...,2022,31,7,W2,Fresh,-15.025,1,5,3,2024
159951,L02,5,Yes,442.82,15.0,Tv,No,Autumn,Weekday,20.2,...,2021,195,10,W3,Returned,-79.450,9,3,38,2024
373646,L03,5,No,300.50,0.0,unknown,No,Spring,Weekday,27.3,...,2019,126,2,W1,Returned,-15.025,5,1,22,2024

In [6]:
from sklearn.preprocessing import OneHotEncoder

In [7]:
# Step 1: Select the location column
location_col = df[['location']]  # Important: Use double brackets to keep it as DataFrame

In [8]:
encoder=OneHotEncoder(drop='first',sparse_output=False)

In [9]:
location_encoded=encoder.fit_transform(location_col)

In [10]:
location_encoded_df = pd.DataFrame(
    location_encoded,
    columns=encoder.get_feature_names_out(['location']),
    index=df.index  # keep same index for merging
)

In [11]:
# Step 5: Concatenate with original dataframe
df = pd.concat([df.drop('location', axis=1), location_encoded_df], axis=1)

In [12]:
df.sample(5)

,unitssold,promocodeused,price,discount_percent,adcampaign,isweekend,season,daytype,temp(c),rainfall(mm),...,year,location_L02,location_L03,location_L04,location_L05,location_L06,location_L07,location_L08,location_L09,location_L10
263974,7,Yes,300.50,0.0,unknown,Yes,Autumn,Weekend,35.9,44.5,...,2024,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
233556,4,No,300.50,0.0,unknown,No,Autumn,Weekday,25.9,9.6,...,2024,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
62540,10,No,436.61,5.0,Tv,No,Autumn,Weekday,30.1,7.6,...,2024,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
242529,10,No,300.50,0.0,unknown,No,Winter,Weekday,5.3,0.1,...,2024,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
170156,7,No,300.50,0.0,unknown,No,Winter,Weekday,11.9,4.8,...,2024,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

In [13]:
# Step 4: Get encoded column names
location_columns = location_encoded_df.columns.tolist()

# Step 5: Reorder columns — location columns first
df = df[location_columns + [col for col in df.columns if col not in location_columns]]

In [14]:
df.head()

,location_L02,location_L03,location_L04,location_L05,location_L06,location_L07,location_L08,location_L09,location_L10,unitssold,...,launchyear,stocklevel,supplierdelay(days),warehouse,inventorytype,price_diff,month,dayofweek,week,year
0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,8,...,2020,61,3,W2,Fresh,-37.780,4,4,15,2024
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2,...,2020,31,2,W3,Returned,-15.025,12,5,50,2024
2,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,7,...,2022,116,3,W1,Returned,-15.025,9,4,39,2024
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,8,...,2022,168,3,W3,Repaired,-15.025,4,1,16,2024
4,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,3,...,2020,68,7,W3,Repaired,-15.025,3,1,11,2024

In [15]:
df.isnull().sum()

location_L02           0
location_L03           0
location_L04           0
location_L05           0
location_L06           0
location_L07           0
location_L08           0
location_L09           0
location_L10           0
unitssold              0
promocodeused          0
price                  0
discount_percent       0
adcampaign             0
isweekend              0
season                 0
daytype                0
temp(c)                0
rainfall(mm)           0
category               0
brand                  0
material               0
weight(kg)             0
warranty(years)        0
productrating          0
launchyear             0
stocklevel             0
supplierdelay(days)    0
warehouse              0
inventorytype          0
price_diff             0
month                  0
dayofweek              0
week                   0
year                   0
dtype: int64

In [16]:
df[['promocodeused','isweekend']].sample(5)

       promocodeused isweekend
395094            No        No
467266           Yes        No
502852            No        No
370564            No        No
142179            No        No

In [17]:
# Normalize string values first
df['isweekend'] = df['isweekend'].astype(str).str.lower().str.strip()

In [18]:
df['isweekend'] = df['isweekend'].map({'yes': 1, 'no': 0})

In [19]:
print(df['isweekend'].isnull().sum())

0

In [20]:
df[['promocodeused']].sample(10)

       promocodeused
348279           Yes
60822            Yes
489520           Yes
172734           Yes
403310           Yes
356720            No
497099           Yes
9723             Yes
192008           Yes
269277           Yes

In [21]:
df['promocodeused'] = df['promocodeused'].astype(str).str.lower().str.strip()

In [22]:
df['promocodeused'] = df['promocodeused'].map({'yes': 1, 'no': 0})

In [23]:
print("Nulls in promocodeused:", df['promocodeused'].isnull().sum())

Nulls in promocodeused: 0

In [24]:
df[['promocodeused','isweekend']].head()

   promocodeused  isweekend
0              0          0
1              1          1
2              0          0
3              0          0
4              1          0

In [25]:
import numpy as np

In [26]:
df['adcampaign'] = df['adcampaign'].astype(str).str.lower().str.strip()

In [27]:
df['adcampaign'] = df['adcampaign'].replace(['unknown', 'unk', 'none', 'nan', ''], np.nan)

In [28]:
df['adcampaign'].isnull().sum()

np.int64(377041)

In [29]:
df['adcampaign'][df['adcampaign'].isnull()] = df['adcampaign'].dropna().sample(df['adcampaign'].isnull().sum(),replace=True).values

C:\Users\sachi\AppData\Local\Temp\ipykernel_11032\731429816.py:1: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  df['adcampaign'][df['adcampaign'].isnull()] = df['adcampaign'].dropna().sample(df['adcampaign'].isnull().sum(),replace=True).values
C:\Users\sachi\AppData\Local\Temp\ipykernel_11032\731429816.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['adcampaign'][df['adcampaign'].isnull()] = df['adcampaign'].dropna().sample(df['adcampaign'].isnull().sum(),replace=True).values

In [30]:
df['adcampaign'].isnull().sum()

np.int64(0)

# Applying OneHotEncoding in AdCamapign

In [31]:

# Step 1: Extract the column
ad_col = df[['adcampaign']]  # double brackets for DataFrame

In [32]:

# Step 2: Initialize encoder
encoder = OneHotEncoder(drop='first', sparse_output=False)  # drop='first' to avoid dummy trap

In [33]:

# Step 3: Fit and transform
ad_encoded = encoder.fit_transform(ad_col)

In [34]:

# Step 4: Create DataFrame from encoded array
ad_encoded_df = pd.DataFrame(
    ad_encoded,
    columns=encoder.get_feature_names_out(['adcampaign']),
    index=df.index  # keep index same to merge back
)

In [35]:
# Step 5: Concatenate with original df (drop old 'adcampaign' column)
df = pd.concat([df.drop('adcampaign', axis=1), ad_encoded_df], axis=1)

In [36]:
df.sample(10)

,location_L02,location_L03,location_L04,location_L05,location_L06,location_L07,location_L08,location_L09,location_L10,unitssold,...,stocklevel,supplierdelay(days),warehouse,inventorytype,price_diff,month,dayofweek,week,year,adcampaign_tv
37032,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2,...,65,5,W3,Returned,-15.025,4,6,14,2024,1.0
379378,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,10,...,68,10,W1,Repaired,-15.025,1,4,4,2024,0.0
477824,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,4,...,72,2,W3,Fresh,-15.025,3,2,12,2024,0.0
493814,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,5,...,105,3,W1,Returned,-15.025,11,5,46,2024,1.0
489650,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1,...,19,5,W1,Fresh,-15.025,2,1,6,2024,1.0
351990,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,7,...,127,5,W1,Returned,-15.025,6,6,23,2024,0.0
331592,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,5,...,138,5,W1,Fresh,-15.025,2,0,8,2024,0.0
41972,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,8,...,80,10,W1,Returned,1.850,10,1,41,2024,0.0
476741,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,10,...,141,7,W3,Repaired,-15.025,12,2,49,2024,0.0
20364,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,4,...,47,5,W1,Fresh,-15.025,8,2,35,2024,0.0

In [37]:
from sklearn.compose import ColumnTransformer

# Applying OneHotEncoding in these columns because its nominal

In [38]:
nominal_cols = ['category', 'brand', 'material', 'warehouse', 'inventorytype']

In [39]:
column_transformer = ColumnTransformer(
    transformers=[
        ('ohe', OneHotEncoder(drop='first', sparse_output=False), nominal_cols)
    ],
    remainder='passthrough'  # keep other columns unchanged
)

# Fit and transform
df_encoded = column_transformer.fit_transform(df)

# Get new feature names
ohe_feature_names = column_transformer.named_transformers_['ohe'].get_feature_names_out(nominal_cols)

In [40]:
df.sample(5)

,location_L02,location_L03,location_L04,location_L05,location_L06,location_L07,location_L08,location_L09,location_L10,unitssold,...,stocklevel,supplierdelay(days),warehouse,inventorytype,price_diff,month,dayofweek,week,year,adcampaign_tv
119584,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,7,...,52,7,W1,Repaired,-15.025,12,0,51,2024,0.0
409305,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,5,...,192,3,W1,Repaired,-15.025,11,0,45,2024,0.0
288072,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,...,154,2,W2,Returned,2.030,10,3,43,2024,1.0
74432,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,4,...,112,7,W2,Fresh,-16.220,8,5,34,2024,1.0
257754,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1,...,51,7,W2,Fresh,49.780,11,4,47,2024,0.0

In [41]:
import numpy as np
df = pd.DataFrame(df_encoded, columns=np.append(ohe_feature_names, [col for col in df.columns if col not in nominal_cols]))

# Applying Binary Map Encoding in Season

In [42]:
df['season'] = df['season'].astype(str).str.lower().str.strip()

In [43]:
season_order = {'spring': 0, 'summer': 1, 'autumn': 2, 'winter': 3}

In [44]:
df['season'] = df['season'].map(season_order)

In [45]:
df['season'].head(5)

0    0
1    3
2    2
3    0
4    0
Name: season, dtype: int64

# Applying Binary Map Encoding in DayType

In [46]:
df['daytype'] = df['daytype'].astype(str).str.lower().str.strip()

In [47]:
df['daytype'] = df['daytype'].map({'weekday': 0, 'weekend': 1})

In [48]:
df['daytype'].head()

0    0.0
1    1.0
2    0.0
3    0.0
4    0.0
Name: daytype, dtype: float64

In [50]:
df.sample(20)

,category_Clothing,category_Electronics,category_Home,category_Toys,brand_BrandB,brand_BrandC,brand_BrandD,material_Glass,material_Metal,material_Plastic,...,productrating,launchyear,stocklevel,supplierdelay(days),price_diff,month,dayofweek,week,year,adcampaign_tv
90659,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,3.9,2018,34,2,-15.025,8,2,33,2024,1.0
423744,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,2.6,2020,178,3,-15.025,9,2,36,2024,1.0
345775,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,3.8,2018,102,3,-15.025,2,6,6,2024,1.0
215958,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,3.7,2019,70,5,-15.025,7,6,27,2024,1.0
102026,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,...,3.7,2020,56,7,5.53,1,0,5,2024,1.0
350703,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,3.7,2021,67,2,-15.025,1,2,4,2024,0.0
36241,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,3.7,2022,128,2,-15.025,1,2,1,2024,1.0
19959,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,...,4.6,2021,156,3,-15.025,4,6,14,2024,0.0
173661,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,...,2.5,2023,46,7,-15.025,1,1,3,2024,0.0
78439,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,3.6,2022,144,10,-15.025,8,2,32,2024,1.0
507051,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,...,3.3,2021,95,3,-15.025,2,0,9,2024,0.0
40640,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,4.6,2020,41,7,-15.025,1,4,2,2024,0.0
252018,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,4.3,2019,164,5,-15.025,3,4,12,2024,0.0
259655,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,...,3.1,2019,79,7,-15.025,3,6,13,2024,1.0
127831,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,3.1,2022,94,5,2.34,12,4,52,2024,1.0
391178,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,...,4.8,2018,156,5,-15.025,6,2,25,2024,1.0
34392,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,5.0,2021,111,2,5.01,10,2,44,2024,1.0
105227,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,3.9,2020,102,5,-15.025,3,3,13,2024,0.0
305479,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,...,4.0,2019,39,3,-15.025,2,3,6,2024,1.0
149509,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,3.8,2023,164,2,-15.025,11,0,46,2024,1.0

In [49]:
df.to_csv("Encoded_data.csv",index=False)