In [48]:
import pandas as pd

In [49]:
df=pd.read_csv(r"C:\Users\sachi\OneDrive\Product Demand Forecasting\7_Feature Selection\Featured_data.csv")

In [50]:
product_ids = df['productid']

In [51]:
X = df.drop('productid', axis=1,inplace=True)

In [52]:
df.sample(5)

,location,unitssold,promocodeused,price,discount_percent,adcampaign,isweekend,season,daytype,temp(c),...,launchyear,stocklevel,supplierdelay(days),warehouse,inventorytype,price_diff,month,dayofweek,week,year
373078,L01,3,No,300.5,0.0,unknown,Yes,Winter,Weekend,16.0,...,2023,148,3,W3,Returned,-15.025,12,5,49,2024
38821,L03,3,Yes,300.5,0.0,unknown,Yes,Summer,Weekend,38.5,...,2023,153,2,W2,Repaired,-15.025,8,6,34,2024
349372,L05,9,No,300.5,0.0,unknown,No,Spring,Weekday,22.2,...,2023,153,10,W2,Repaired,-15.025,4,2,15,2024
181127,L07,4,Yes,300.5,0.0,unknown,No,Autumn,Weekday,31.7,...,2023,40,3,W1,Repaired,-15.025,10,4,41,2024
142724,L06,4,No,300.5,0.0,unknown,No,Winter,Weekday,10.1,...,2023,53,2,W3,Repaired,-15.025,12,1,52,2024

In [53]:
from sklearn.preprocessing import OneHotEncoder

In [54]:
# Step 1: Select the location column
location_col = df[['location']]  # Important: Use double brackets to keep it as DataFrame

In [55]:
encoder=OneHotEncoder(drop='first',sparse_output=False)

In [56]:
location_encoded=encoder.fit_transform(location_col)

In [57]:
location_encoded_df = pd.DataFrame(
    location_encoded,
    columns=encoder.get_feature_names_out(['location']),
    index=df.index  # keep same index for merging
)

In [58]:
# Step 5: Concatenate with original dataframe
df = pd.concat([df.drop('location', axis=1), location_encoded_df], axis=1)

In [59]:
df.sample(5)

,unitssold,promocodeused,price,discount_percent,adcampaign,isweekend,season,daytype,temp(c),rainfall(mm),...,year,location_L02,location_L03,location_L04,location_L05,location_L06,location_L07,location_L08,location_L09,location_L10
285700,2,No,384.35,10.0,Tv,No,Spring,Weekday,29.9,7.3,...,2024,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
47148,1,No,300.50,0.0,unknown,No,Winter,Weekday,14.6,5.9,...,2024,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
441465,9,Yes,375.19,15.0,Tv,Yes,Winter,Weekend,11.0,6.5,...,2024,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
95485,4,Yes,300.50,0.0,unknown,No,Autumn,Weekday,22.7,3.2,...,2024,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
172932,10,Yes,300.50,0.0,unknown,No,Spring,Weekday,28.2,1.1,...,2024,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0

In [60]:
# Step 4: Get encoded column names
location_columns = location_encoded_df.columns.tolist()

# Step 5: Reorder columns â€” location columns first
df = df[location_columns + [col for col in df.columns if col not in location_columns]]

In [61]:
df.head()

,location_L02,location_L03,location_L04,location_L05,location_L06,location_L07,location_L08,location_L09,location_L10,unitssold,...,launchyear,stocklevel,supplierdelay(days),warehouse,inventorytype,price_diff,month,dayofweek,week,year
0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,8,...,2020,61,3,W2,Fresh,-37.780,4,4,15,2024
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2,...,2020,31,2,W3,Returned,-15.025,12,5,50,2024
2,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,7,...,2022,116,3,W1,Returned,-15.025,9,4,39,2024
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,8,...,2022,168,3,W3,Repaired,-15.025,4,1,16,2024
4,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,3,...,2020,68,7,W3,Repaired,-15.025,3,1,11,2024

In [62]:
df.isnull().sum()

location_L02           0
location_L03           0
location_L04           0
location_L05           0
location_L06           0
location_L07           0
location_L08           0
location_L09           0
location_L10           0
unitssold              0
promocodeused          0
price                  0
discount_percent       0
adcampaign             0
isweekend              0
season                 0
daytype                0
temp(c)                0
rainfall(mm)           0
category               0
brand                  0
material               0
weight(kg)             0
warranty(years)        0
productrating          0
launchyear             0
stocklevel             0
supplierdelay(days)    0
warehouse              0
inventorytype          0
price_diff             0
month                  0
dayofweek              0
week                   0
year                   0
dtype: int64

In [63]:
df[['promocodeused','isweekend']].sample(5)

       promocodeused isweekend
164683            No        No
113735           Yes        No
223837            No       Yes
78075            Yes        No
497033           Yes       Yes

In [64]:
# Normalize string values first
df['isweekend'] = df['isweekend'].astype(str).str.lower().str.strip()

In [65]:
df['isweekend'] = df['isweekend'].map({'yes': 1, 'no': 0})

In [66]:
print(df['isweekend'].isnull().sum())

0

In [71]:
df[['promocodeused']].sample(10)

        promocodeused
377896              1
117032              1
283832              1
385606              1
465150              0
437854              1
187073              0
148702              0
167223              0
286174              1

In [68]:
df['promocodeused'] = df['promocodeused'].astype(str).str.lower().str.strip()

In [70]:
df['promocodeused'] = df['promocodeused'].map({'yes': 1, 'no': 0})

In [72]:
print("Nulls in promocodeused:", df['promocodeused'].isnull().sum())

Nulls in promocodeused: 0

In [77]:
df[['promocodeused','isweekend']].head()

   promocodeused  isweekend
0              0          0
1              1          1
2              0          0
3              0          0
4              1          0

In [78]:
import numpy as np

In [79]:
df['adcampaign'] = df['adcampaign'].astype(str).str.lower().str.strip()

In [80]:
df['adcampaign'] = df['adcampaign'].replace(['unknown', 'unk', 'none', 'nan', ''], np.nan)

In [82]:
df['adcampaign'].isnull().sum()

np.int64(377041)

In [84]:
df['adcampaign'][df['adcampaign'].isnull()] = df['adcampaign'].dropna().sample(df['adcampaign'].isnull().sum(),replace=True).values

C:\Users\sachi\AppData\Local\Temp\ipykernel_31996\731429816.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['adcampaign'][df['adcampaign'].isnull()] = df['adcampaign'].dropna().sample(df['adcampaign'].isnull().sum(),replace=True).values

In [85]:
df['adcampaign'].isnull().sum()

np.int64(0)

# Applying OneHotEncoding in AdCamapign

In [86]:

# Step 1: Extract the column
ad_col = df[['adcampaign']]  # double brackets for DataFrame

In [88]:

# Step 2: Initialize encoder
encoder = OneHotEncoder(drop='first', sparse_output=False)  # drop='first' to avoid dummy trap

In [89]:

# Step 3: Fit and transform
ad_encoded = encoder.fit_transform(ad_col)

In [90]:

# Step 4: Create DataFrame from encoded array
ad_encoded_df = pd.DataFrame(
    ad_encoded,
    columns=encoder.get_feature_names_out(['adcampaign']),
    index=df.index  # keep index same to merge back
)

In [91]:
# Step 5: Concatenate with original df (drop old 'adcampaign' column)
df = pd.concat([df.drop('adcampaign', axis=1), ad_encoded_df], axis=1)

In [92]:
df.sample()

,location_L02,location_L03,location_L04,location_L05,location_L06,location_L07,location_L08,location_L09,location_L10,unitssold,...,stocklevel,supplierdelay(days),warehouse,inventorytype,price_diff,month,dayofweek,week,year,adcampaign_tv
106506,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,3,...,97,2,W3,Repaired,-15.025,10,6,40,2024,0.0