In [1]:
import pandas as pd

In [2]:
df=pd.read_csv(r"C:\Users\sachi\OneDrive\Product Demand Forecasting\DATA\calendar.csv")

In [3]:
df.sample(10)

          Date IsWeekend  Season  DayType
22  2024-01-23        No  Winter   Normal
27  2024-01-28       Yes  Spring   Normal
25  2024-01-26        No  Spring   Normal
33  2024-02-03       Yes  Spring   Normal
16  2024-01-17        No  Spring   Normal
39  2024-02-09        No  Winter   Normal
3   2024-01-04        No  Winter  Holiday
11  2024-01-12        No  Spring  Holiday
30  2024-01-31        No  Spring   Normal
49  2024-02-19        No  Spring   Normal

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60 entries, 0 to 59
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       60 non-null     object
 1   IsWeekend  60 non-null     object
 2   Season     60 non-null     object
 3   DayType    60 non-null     object
dtypes: object(4)
memory usage: 2.0+ KB

In [5]:
df.isnull().sum()

Date         0
IsWeekend    0
Season       0
DayType      0
dtype: int64

In [6]:
df.dtypes

Date         object
IsWeekend    object
Season       object
DayType      object
dtype: object

In [7]:
df['Date'] = pd.to_datetime(df['Date'], errors='coerce')

In [8]:
df.dtypes

Date         datetime64[ns]
IsWeekend            object
Season               object
DayType              object
dtype: object

In [9]:
df.nunique()

Date         60
IsWeekend     2
Season        2
DayType       3
dtype: int64

In [11]:
print(df['IsWeekend'].value_counts())  # Should be only 0 and 1

IsWeekend
No     44
Yes    16
Name: count, dtype: int64

In [13]:
print(df['Date'].min(), df['Date'].max())

2024-01-01 00:00:00 2024-02-29 00:00:00

In [14]:
df.describe()

                      Date
count                   60
mean   2024-01-30 12:00:00
min    2024-01-01 00:00:00
25%    2024-01-15 18:00:00
50%    2024-01-30 12:00:00
75%    2024-02-14 06:00:00
max    2024-02-29 00:00:00

In [15]:
df.to_csv(r"C:\Users\sachi\OneDrive\Product Demand Forecasting\CLEANED DATA\Calender_Cleaned.csv.csv",index=False)