In [1]:
import pandas as pd

In [2]:
df=pd.read_csv(r"C:\Users\sachi\OneDrive\Product Demand Forecasting\DATA\inventory_data.csv")

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 6 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ProductID            5000 non-null   object
 1   Location             5000 non-null   object
 2   StockLevel           5000 non-null   int64
 3   SupplierDelay(days)  5000 non-null   int64
 4   Warehouse            5000 non-null   object
 5   InventoryType        4960 non-null   object
dtypes: int64(2), object(4)
memory usage: 234.5+ KB

In [20]:
df.sample(10)

,ProductID,Location,StockLevel,SupplierDelay(days),Warehouse,InventoryType
3823,P0383,L04,125,3,W1,Returned
2111,P0212,L02,59,2,W2,Repaired
2925,P0293,L06,26,3,W2,Returned
4555,P0456,L06,146,3,W2,Repaired
4651,P0466,L02,69,7,W2,Repaired
3218,P0322,L09,108,3,W2,Fresh
753,P0076,L04,74,2,W2,Returned
491,P0050,L02,75,5,W2,Repaired
3680,P0369,L01,16,2,W3,Repaired
3082,P0309,L03,187,2,W3,Returned

In [5]:
df.describe()

        StockLevel  SupplierDelay(days)
count  5000.000000          5000.000000
mean    104.253600             5.386600
std      55.354632             2.878124
min      10.000000             2.000000
25%      55.000000             3.000000
50%     105.000000             5.000000
75%     153.000000             7.000000
max     199.000000            10.000000

In [6]:
df.isnull().sum()

ProductID               0
Location                0
StockLevel              0
SupplierDelay(days)     0
Warehouse               0
InventoryType          40
dtype: int64

In [8]:
# Check for negative StockLevel
neg_stock = df[df['StockLevel'] < 0]

# Check for negative SupplierDelay(days)
neg_delay = df[df['SupplierDelay(days)'] < 0]

# Print result
if not neg_stock.empty:
    print("❌ Negative values found in StockLevel:")
    display(neg_stock)
else:
    print("✅ No negative values in StockLevel")

if not neg_delay.empty:
    print("❌ Negative values found in SupplierDelay(days):")
    display(neg_delay)
else:
    print("✅ No negative values in SupplierDelay(days)")

✅ No negative values in StockLevel
✅ No negative values in SupplierDelay(days)

In [9]:
df.nunique()

ProductID              500
Location                10
StockLevel             190
SupplierDelay(days)      5
Warehouse                3
InventoryType            3
dtype: int64

# filling Inventory Type

In [21]:
df_prod=pd.read_csv(r"C:\Users\sachi\OneDrive\Product Demand Forecasting\CLEANED DATA\product_info_cleaned.csv")

In [22]:
# product_info_cleaned me ProductID aur Category le lo
prod_cat_df = df_prod[['ProductID', 'Category']].drop_duplicates()

In [23]:
# Dictionary bana lo
prod_cat_dict = dict(zip(prod_cat_df['ProductID'], prod_cat_df['Category']))

In [24]:
category_to_inventory = {
    'Electronics': 'Finished Goods',
    'Clothing': 'Finished Goods',
    'Home Appliances': 'Finished Goods',
    'Toys': 'Finished Goods',
    'Footwear': 'Finished Goods',
    'Furniture': 'Work In Progress',
    'Books': 'Finished Goods',
    'Stationery': 'Packaging'
}

In [25]:
def fill_inventory_type(row):
    if pd.isnull(row['InventoryType']):
        cat = prod_cat_dict.get(row['ProductID'], None)
        if cat:
            return category_to_inventory.get(cat, 'Finished Goods')  # Default 'Finished Goods'
        else:
            return 'Finished Goods'  # Default if ProductID missing in dict
    else:
        return row['InventoryType']

df['InventoryType'] = df.apply(fill_inventory_type, axis=1)

In [26]:
print("Missing InventoryType after fill:", df['InventoryType'].isnull().sum())

Missing InventoryType after fill: 0

In [27]:
df.isnull().sum()

ProductID              0
Location               0
StockLevel             0
SupplierDelay(days)    0
Warehouse              0
InventoryType          0
dtype: int64

In [28]:
df.duplicated().sum()

np.int64(0)

In [29]:
df.dtypes

ProductID              object
Location               object
StockLevel              int64
SupplierDelay(days)     int64
Warehouse              object
InventoryType          object
dtype: object

In [31]:
print("Negative StockLevel count:", (df['StockLevel'] < 0).sum())
print("Negative SupplierDelay count:", (df['SupplierDelay(days)'] < 0).sum())

Negative StockLevel count: 0
Negative SupplierDelay count: 0

In [32]:
df.sample()

,ProductID,Location,StockLevel,SupplierDelay(days),Warehouse,InventoryType
2468,P0247,L09,145,10,W1,Fresh

In [34]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 6 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ProductID            5000 non-null   object
 1   Location             5000 non-null   object
 2   StockLevel           5000 non-null   int64
 3   SupplierDelay(days)  5000 non-null   int64
 4   Warehouse            5000 non-null   object
 5   InventoryType        5000 non-null   object
dtypes: int64(2), object(4)
memory usage: 234.5+ KB

In [35]:
df.describe()

        StockLevel  SupplierDelay(days)
count  5000.000000          5000.000000
mean    104.253600             5.386600
std      55.354632             2.878124
min      10.000000             2.000000
25%      55.000000             3.000000
50%     105.000000             5.000000
75%     153.000000             7.000000
max     199.000000            10.000000

In [33]:
df.to_csv(r"C:\Users\sachi\OneDrive\Product Demand Forecasting\CLEANED DATA\inventory_data_Cleaned.csv.csv",index=False)